* {
  font-family: "Nanum Godic", sans-serif, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0; }

header {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  z-index: 3; }

.header-inner {
  max-width: 1010px;
  padding-left: 20px;
  margin: auto;
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.logo {
  width: auto;
  flex: 1 9999 0%; }

.logo-img {
  height: 29px;
  width: auto;
  margin-top: 16px; }

.search {
  height: 26px;
  width: 213px;
  margin-top: 12px; }

.search-box {
  height: 100%;
  width: 100%;
  background: #fafafa;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #999;
  cursor: text;
  font-size: 14px;
  font-weight: 300;
  text-align: center; }

.button {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  height: 22px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 20px; }

.icon {
  height: 22px;
  width: 22px;
  margin-left: 15px;
  margin-right: 15px; }

.user-status {
  height: auto;
  padding-right: 7px;
  text-align: right; }

body {
  position: absolute;
  top: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;
  padding-top: 2px; }

.new-feed {
  text-align: center;
  text-decoration: none;
  color: royalblue; }

.feed {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1440px;
  padding-top: 2px;
  background-color: white; }

.feed-inner {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1); }

.feed-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: 60px;
  flex: 1;
  padding: 14px 16px 14px 16px;
  margin-top: auto;
  margin-bottom: auto; }

.profile {
  height: 32px;
  width: 32px;
  position: relative; }

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 16px 16px / 16px 16px;
  vertical-align: baseline; }

.username {
  margin: auto 0 auto 0;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  left: 13px;
  vertical-align: middle; }

.follow-status {
  margin: auto 0 auto 0;
  font-size: 14px;
  position: relative;
  left: 13px;
  vertical-align: middle; }

.post {
  width: auto;
  height: auto;
  flex: 1; }

.post-img {
  width: 100%;
  height: auto; }

.buttons {
  width: auto;
  height: 40px;
  margin-top: 4px;
  padding-left: 8px;
  display: flex; }

.iconbuttons {
  width: 24px;
  height: 24px;
  padding: 8px; }

.post-text {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1); }

.comments {
  height: 56px;
  margin: 4px 0 0;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.comment-box {
  border-color: transparent;
  height: 18px;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 540;
  z-index: 2; }

.post-comment {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;
  font-size: 14px;
  color: rgba(var(--d69, 0, 149, 246), 1); }

/*# sourceMappingURL=main.css.map */