{% extends 'base.html' %}
{% block content%}
{% load static %}
{% if user.is_authenticated %}
  <a href="{% url 'new' %}" class="new-feed">new feed</a> 
{% endif %}
<div class="feed">
  {% for feed in feeds %} 
    <div class="feed-inner">
      <div class="feed-author">
        <div class="profile">
          <a href="/feeds/">
            <img class="profile-img" src="{% static 'img/profile-img.jpeg' %}"/>
          </a>
        </div>
        <div class="username">
          <a href="/feeds/" style="text-decoration: none; color: black">
            {{feed.author.username}}
          </a>
        </div>
        <div class="follow-status">
          (following: {{ feed.author.profile.follow_to.all.count }} / follower: {{ feed.author.profile.follow_from.all.count }})
          {% if user.is_authenticated %}
            {% if request.user != feed.author %}
              <a href="/accounts/{{ feed.author.id }}/follow">
                {% if request.user.profile not in feed.author.profile.follows.all %}
                    팔로우
                {% else %}
                    팔로우 취소
                {% endif %}
              </a>
            {% endif %}
          {% endif %}
        </div>
        <div style="margin:auto 0px auto auto;">  
          {% if request.user == feed.author %}
            <a href="{% url 'delete' feed.id %}" onclick="return confirm('정말 삭제하시겠습니까?')"style="text-decoration:black;">삭제</a> 
            ·
          {% endif %}
          <a href="{% url 'show' feed.id %}" style="text-decoration:black;">더보기</a>
        </div>
      </div>
      <div class="post">
        <div class="post-img">
          {% if  feed.photo %}
            <img  src="{{ feed.photo.url }}"  alt="" width="100%" height="20%">
          {% else %}
            <img src="{% static 'img/no-image-available.png' %}" alt="" width="100%" height="20%">
          {% endif %}  
        </div>
        <div class="buttons">
          <a href="/feeds/{{ feed.id }}/like">
            <svg class="iconbuttons" viewBox="0 0 48 48" height="24" width="24">
              <path clip-rule="evenodd" d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z" fill-rule="evenodd">
              </path>
            </svg>
          </a>
          <svg class="iconbuttons" viewBox="0 0 48 48" height="24" width="24">
            <path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd">
            </path>
          </svg>
          <svg class="iconbuttons" viewBox="0 0 48 48" height="24" width="24">
            <path clip-rule="evenodd" d="M46.5 3.5h-45C.6 3.5.2 4.6.8 5.2l16 15.8 5.5 22.8c.2.9 1.4 1 1.8.3L47.4 5c.4-.7-.1-1.5-.9-1.5zm-40.1 3h33.5L19.1 18c-.4.2-.9.1-1.2-.2L6.4 6.5zm17.7 31.8l-4-16.6c-.1-.4.1-.9.5-1.1L41.5 9 24.1 38.3z" fill-rule="evenodd">
            </path>
          </svg>
          <div style="margin-top:auto;margin-bottom:auto;">
            {{ feed.like_users.count }} Likes
          </div>
        </div>
        <div class="post-text">
          <h4>{{ feed.title }}</h4>
          <div style="border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);margin-bottom:7px;width:25%;"></div>
          <p>{{ feed.content }}</p>
        </div>
        <div class="comments">
          <input class="comment-box" type="text" placeholder="댓글 달기...">
          <button class="post-comment" disabled type="submit">
          게시
          </button>
        </div>
      </div>

    </div>
  {% endfor %} 
</div>
{% endblock content%}